@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-verde-icones: #1d594e;
    --cor-cinza-texto: #c4cbd5;
    --cor-background-lateral: #353535;
    --cor-background-main: #595959;
    --cor-background-card-img: #292929;
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'asideesquerdo  main main asidedireito'
    'asideesquerdo  main main asidedireito'
    'asideesquerdo  main main asidedireito'
    'asideesquerdo  main main asidedireito'
    ;
}

/*----------------------------------------------------------------------------------------------------*/


#aside-esquerdo {
    height: 100vh;
    grid-area: asideesquerdo;
    background-color: var(--cor-background-lateral);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-cinza-texto);
}

#aside-esquerdo i{
    color: var(--cor-verde-icones);
}

#esquerdo-menu_desc {
    margin-top: 3rem;
}

#menu-desc_logo {
    display: flex;
    align-items: center;
}

#menu-desc_logo i{
    font-size: 25px;
}

#menu-desc_logo p{
    font-size: 25px;
    font-weight: bold;
}

.menu-titulo{
    font-size: 14px;
    font-weight: bold;
}

.menu-item {
    display: flex;
    margin: 4px 0px 4px 0;
    align-items: center;
}

.menu-item i{
    font-size: 15px;
    margin-right: 6px;
}

.menu-item p{
    font-size: 12px;
}

.menu-card {
    margin-top: 40px;
}

#esquerdo-sair {
    width: 60%;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    font-size: 12px;
}

#esquerdo-sair i{
    margin-right: 6px;
    font-size: 15px;
}

/*----------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track{
    background: var(--cor-cinza-texto);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-background-card-img);
    border-radius: 15px;
    border: 2px solid var(--cor-cinza-texto);
}

/*----------------------------------------------------------------------------------------------------*/

main {
    overflow-y: scroll;
    height: 100vh;
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-background-main);
    color: rgb(206, 206, 206);
}

.main-div {
    width: 95%;
    margin-bottom: 23px;
}

nav {
    margin-top: 3rem;
    border-bottom: 1px solid var(--cor-background-lateral);
    font-size: 12px;
}

nav ul{
    display: flex;
}
nav ul li {
    list-style-type: none;
    margin-right: 14px;
}

#main-emalta {
    display: flex;
    flex-direction: column;
    gap: 27px;
    font-size: 20px;
    font-weight: 700;
}

#emlta-img {
    width: 698px;
    height: 280px;
    background-image: url(img/743274.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(80%);
    border: none;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

#emlta-img:hover {
    filter: grayscale(0%);
    transform: translateX(2px);
}

#img-texto {
    color: var(--cor-background-main);
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
    transition: ease-in-out 0.3s;
}

#img-texto:hover {
    color: var(--cor-verde-icones);
}

#texto-p {
    font-weight: 400;
    font-size: 12px;
}

#continue-lendo, #recomendacoes {
    display: flex;
    flex-direction: column;
    gap: 27px;
    font-size: 20px;
    font-weight: 700;
}

.card {
    height: 230px;
    width: 290px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#card-img_back-1 {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: none;
    background-image: url(img/945400.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    filter: grayscale(80%);
}

#card-img_back-1:hover{
    filter: grayscale(0%);
    transform: translateX(2px);
}

#card-img_back-2 {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: none;
    background-image: url(img/647006.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    filter: grayscale(80%);
}

#card-img_back-2:hover{
    filter: grayscale(0%);
    transform: translateX(2px);
}

#card-img_back-3 {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: none;
    background-image: url(img/296821.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    filter: grayscale(80%);
}

#card-img_back-3:hover{
    filter: grayscale(0%);
    transform: translateX(2px);
}

.card-texto_dados {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
}


.card-reco {
    border-radius: 24px;
    filter: grayscale(80%);
    height: 330px;
    width: 220px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.card-reco:hover{
    filter: grayscale(0%);
    transform: translateX(2px);
}

#cards-container_recom-1{
    background: url(img/berserkIOS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#cards-container_recom-2{
    background: url(img/evangelionIOS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cards-container_recom-3{
    background: url(img/VagabondIOS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cards-container_recom-4{
    background: url(img/saoIOS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}












footer {
    border: 1px solid black;
}

/*----------------------------------------------------------------------------------------------------*/

#aside-direito {
    height: 100vh;
    grid-area: asidedireito;
    background-color: var(--cor-background-lateral);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-cinza-texto);
}

.aside-direito_card {
    width: 85%;
    margin-top: 29px;
}

#aside-direito_dados {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#dados-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    gap: 22px;
}

#info-img {
    display: flex;
    align-items: center;
    font-size: 8px;
}

#input-pesquisar input{
    width: 100%;
    height: 25px;
    border-radius: 8px;
    border: none;
    background-color: var(--cor-cinza-texto);
}

.card-dados {
    display: flex;
    margin-top: 6px;
}

.dados-img {
    background-color: var(--cor-background-card-img);
    width: 60px;
    height: 60px;
    border-radius: 18px;
    margin-right: 16px;
}

.dados-text {
    font-size: 12px;
}

.dados-btn {
    height: 27px;
    width: 100%;
    margin-top: 12px;
    border-radius: 18px;
    border: none;
    background-color: var(--cor-verde-icones);
    color: var(--cor-cinza-texto);
    font-size: 16px;
    font-weight: bold;
}
