#aside-direito {
    height: 100vh;
    grid-area: asidedireito;
    background-color: var(--cor-background-lateral);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-cinza-texto);
}

.aside-direito_card {
    width: 85%;
    margin-top: 29px;
}

#aside-direito_dados {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#dados-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    gap: 22px;
}

#dados-info i:hover{
    cursor: pointer;
}

#info-img {
    display: flex;
    align-items: center;
    font-size: 8px;
}

#input-pesquisar input{
    width: 100%;
    height: 25px;
    border-radius: 8px;
    border: none;
    background-color: var(--cor-cinza-texto);
    text-align: center;
}

#input-pesquisar i{
    cursor: pointer;
    position: absolute;
    color: var(--cor-background-card-img);
    padding: 5px;
}

.card-dados {
    display: flex;
    margin-top: 6px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.card-dados:hover{
    transform: translateX(-5px);
    color: var(--cor-verde-icones);
}

.dados-img {
    background-color: var(--cor-background-card-img);
    width: 60px;
    height: 60px;
    border-radius: 18px;
    margin-right: 16px;
}

#dados-img-1 {
    background: url(../../img/Aside-dir/onepiece-dir.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dados-img-2 {
    background: url(../../img/Aside-dir/onepunch-dir.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dados-img-3 {
    background: url(../../img/Aside-dir/chaisawn-dir.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dados-img-4 {
    background: url(../../img/Aside-dir/berserk-dir.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dados-img-5 {
    background: url(../../img/Aside-dir/vagabond-dir.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dados-img-6 {
    background: url(../../img/Aside-dir/vinlandsaga-dir.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dados-text {
    font-size: 10px;
}

.dados-btn {
    height: 27px;
    width: 100%;
    margin-top: 12px;
    border-radius: 18px;
    border: none;
    background-color: var(--cor-verde-icones);
    color: var(--cor-cinza-texto);
    font-size: 16px;
    font-weight: bold;
    transition: ease-out 0.3s;
    cursor: pointer;
}

.dados-btn:hover {
    transform: scale(0.9);
    color: var(--cor-background-card-img);
}