footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: #696969;
    padding: 10px;
    gap: 20px;
}

footer li{
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

footer li:hover{
    transform: scale(1.1);
    color: #1d594e;
}

.footer-titulo {
    font-size: 14px;
    font-weight: 600;
}

#footer-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#footer-div_trabalho {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
}

#trabalho-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#trabalho-div i{
    font-size: 16px;
    color: #1d594e;
}


#footer-div-menu, #footer-parceiros {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
}

#footer-div-menu ul li, #footer-parceiros ul li{
    list-style-type: none;
}

#footer-newsletter {
    gap: 20px;
    width: 250px;
}

#newsletter {
    gap: 20px;
}

#newsletter i{
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
}

#footer-input-btn {
    display: flex;
    justify-content: space-between;
}

#footer-input-btn input {
    text-align: center;
    height: 25px;
    width: 190px;
    border: none;
    border-radius: 8px;
    background-color: #c4cbd5;
    color: #191919;
    font-size: 10px;
}

#footer-input-btn button{
    border-radius: 5px;
    border: none;
    background-color: #191919;
    font-size: 12px;
    padding: 6px;
    color: #c4cbd5;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#footer-input-btn button:hover{
    color: #191919;
    background-color: #c4cbd5;
    transform: translateX(2px);
}